/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');

body {
    background-color: #EFF1F7;
    font-family: 'Poppins', sans-serif;
    color: #9E9AA8
}